:root {
    --cor-fundo-frete: #F3F7FF;
    --cor-fundo-site: #FFF;
    --cor-principal-tipografia: #FFF;
    --cor-fundo-sapatos: #F3F7FF;
    --cor-subtitulo-sapato: #7CA2F4;
    --cor-titulo-sapato: #121214;
}