@charset "UTF-8";

/** INICIO FRETE */ 

.banner {
    background-color: var(--cor-fundo-frete);
    padding: 1rem;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    font-size: 0.875rem;
}

/** FIM FRETE */ 

/** INICIO HEADER */
header {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/image-michael-jordan.png");
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.container-header {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0 auto;
    padding: 20px;
}

.content-header {
    width: 300px;
}

.logo-site {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
}

.logo-site span {
    font-family: 'Archivo', sans-serif;
    color: var(--cor-principal-tipografia);
    font-size: 1rem;
}

.title-header,
.description-header {
    color: var(--cor-principal-tipografia);
}

.title-header {
    font-family: 'Archivo', sans-serif;
    margin-bottom: 0.75rem;
}

.description-header {
    font-family: 'Raleway', sans-serif;
}
/** FIM HEADER */

/** INICIO MAIN */

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-info {
    padding: 0 1rem;
    margin: 1.5rem 0 1rem;
    text-align: center;
}

.main-info__title{
    font-family: 'Archivo', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
}

.main-info__description {
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-produto {
    width: 250px;
    height: 270px;
    margin: 1.5rem 0;
}

.img-produto {
    background-color: var(--cor-fundo-sapatos);
    width: 250px;
    padding: 1rem;
}

.title-produto {
    font-family: 'Archivo', sans-serif;
    color: var(--cor-titulo-sapato);
    font-size: 1rem;
    margin: .875rem 0 .625rem;
}

.subtitle-produto {
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    color: var(--cor-subtitulo-sapato);
}

.preco-produto {
    font-family: 'Archivo', sans-serif;
}

/** FIM MAIN */